

<div class="jumbotron">
  <h1>Welcome to Typist</h1>
  <h2>
    Learn how to touch-type.
  </h2>
  <%= link_to "Try it out", '/learn', class: "btn btn-large btn-primary" %>
</div>

<h1>Todo</h1>
<p>Find out how to add javascript</p>