<div id="top-part">
  <h1>
    Learn Dvorak now.
  </h1>
  <p>
  <button type="button" class="btn btn-default">
    Sign up
  </button>
  <button type="button" class="btn btn-default">
    Sign In
  </button>
  </p>
  <p>
  <button type="button" class="btn btn-primary btn-lg">Learn more below <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
  </p>
</div>
