<% provide(:title, 'Learn') %>
<h1>Learn</h1>

<div id="trainer">test</div>
<input id="typist" type="text" />
<% if signed_in? %>
<%= javascript_tag do %>
        window.userid = <%= current_user.id %>
<% end %>
<p>
    <span>CPM</span>
    <span id="CPM">0</span>
</p>
<p>
    <span>WPM</span>
    <span id="WPM">0</span>
</p>
<% end %>

<p>Available Lessons:</p>
<% lessons = Lesson.all %>

<% lessons.each do |l| %>
  <ul>
    <li>
      <a class="lesson-link" id="<%= l.id %>" href="#"><%= l.desc %></a>
    </li>
  </ul>
<% end %>
