<% provide(:title, 'Learn') %>
<h1>Learn</h1>

<div id="trainer">test</div>
<input id="typist" type="text" />

<p>
    <span>CPM</span>
    <span id="CPM">0</span>
</p>
<p>
    <span>WPM</span>
    <span id="WPM">0</span>
</p>

<p>Available Lessons:</p>
Get these from the database table "Lessons" and link to specific ones
