body {
  background: rgb(253, 246, 227);
}
.navbar {
  border-radius: 0;
  border:none;
  background: url('bg.png');
  z-index: 1000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background: rgb(253, 246, 227);
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  font-family: 'Open Sans Condensed',sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
}
#top-part {
  text-align: center;
  background: url('bg.png');
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px;
  padding-top: 100px;
  left:0;
  top:0;
}
#top-part h1 {
  font-family: 'Abel', sans-serif;
  font-size: 64px;
  color: rgb(253, 246, 227);
  margin-bottom: 30px;
}
#top-part h2 {
  font-family: 'Abel', sans-serif;
  font-size: 44px;
  color: rgb(253, 246, 227);
}
#widget-learn p {
  color: white;
}
#trainer {
  margin: 5px auto;
  text-align: left;
  overflow: hidden;
}
#trainer, #typist {
  background: rgb(253, 246, 227);
  border: 1px solid #e5e5e5;
  font-family: monospace;
  padding: 5px 10px;
  font-size: 30px;
  width: 300px;
  height: 53px;
  border-radius: 5px;
}
#profile-perfdetails {
  width: 300px;
}
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.signup-form, .signin-form, .passwordreset-form {
  width: 300px;
  margin: 0 auto;
  padding: 19px 29px 29px;
  background: white;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  input {
    padding: 7px 9px;
  }
  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
  }
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
