<footer class="footer">
  <small>
    <a href="http://phansch.net">Typist</a>
    by Philipp Hansch
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
</footer>